name: ZenMaxBuilder Security Scan

on:
  push:
    branches: [zmb]

  pull_request:
    branches: [zmb]

  schedule:
    - cron: '18 22 * * 5'

  workflow_dispatch:

permissions:
  contents: read

jobs:
  codacy-security-scan:
    if: github.repository == "grm34/ZenMaxBuilder"
    permissions:
      contents: read
      security-events: write

    name: Codacy Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@d840f886c4bd4edc059706d09c6a1586111c540b
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          verbose: true
          output: results.sarif
          format: sarif
          gh-code-scanning-compat: true
          max-allowed-issues: 2147483647

      - name: Upload SARIF results file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif
